### Cleaning Job Vacancy

In [2]:
import numpy as np
import pandas as pd
import re

In [3]:
files = 'C:/Users/yiran/Google Drive/2018 S1/Cleaning Data/Material Data/Job vacancy/Job vacancy cleaning.xlsx'
occupations_sheet = pd.ExcelFile(files)
jobvac = occupations_sheet.parse('Sheet1')

In [4]:
jobvac.head(5)

,OCCUPATIONS,STATES,2006-03-01 00:00:00,2006-04-01 00:00:00,2006-05-01 00:00:00,2006-06-01 00:00:00,2006-07-01 00:00:00,2006-08-01 00:00:00,2006-09-01 00:00:00,2006-10-01 00:00:00,...,2017-05-01 00:00:00,2017-06-01 00:00:00,2017-07-01 00:00:00,2017-08-01 00:00:00,2017-09-01 00:00:00,2017-10-01 00:00:00,2017-11-01 00:00:00,2017-12-01 00:00:00,2018-01-01 00:00:00,2018-02-01 00:00:00
0,Australia Total,AUST,214669,213341,222176,223386,233722,240445,240671,254445,...,171808,170120,179821,181896,185663,191075,185991,163264,161651,163169
1,Chief Executives and Managing Directors,AUST,158.85,160.57,180.53,207.43,214.49,212.53,197.01,216.38,...,309.33,322,337.67,329.33,339.67,345.33,359.33,298.67,302.33,277.67
2,General Managers,AUST,308.89,308.42,319.94,311.29,307.56,300.73,293.66,317.57,...,494.33,481.33,475,447.67,434.67,461.67,455.67,429,447.67,469
3,Legislators,AUST,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
4,Aquaculture Farmers,AUST,0.67,1.33,1.33,1.33,0.67,1.33,2,2.33,...,0.33,0.33,0.67,1,0.67,0.33,0.33,0.67,1.33,1

In [6]:
len(jobvac)

3231

In [12]:
jobvac01 = jobvac[jobvac.STATES != "AUST"]

In [13]:
jobvac01.STATES.unique()

array([u'NSW', u'VIC', u'QLD', u'SA', u'WA', u'TAS', u'NT', u'ACT'], dtype=object)

Correctly excluded AUST data.

In [15]:
jobvac01.head(5)

,OCCUPATIONS,STATES,2006-03-01 00:00:00,2006-04-01 00:00:00,2006-05-01 00:00:00,2006-06-01 00:00:00,2006-07-01 00:00:00,2006-08-01 00:00:00,2006-09-01 00:00:00,2006-10-01 00:00:00,...,2017-05-01 00:00:00,2017-06-01 00:00:00,2017-07-01 00:00:00,2017-08-01 00:00:00,2017-09-01 00:00:00,2017-10-01 00:00:00,2017-11-01 00:00:00,2017-12-01 00:00:00,2018-01-01 00:00:00,2018-02-01 00:00:00
359,New South Wales Total,NSW,73994.5,74222.8,77810.6,78304.1,82436.3,83820.7,83689.5,86543.5,...,65905,65181.7,68980.3,69072.3,70268,71815.7,69767.3,60684.7,60004.7,60797
360,Chief Executives and Managing Directors,NSW,57.31,56.76,59.21,67.35,75.43,83.17,76.43,74.78,...,120.33,126,137.67,126.33,127,121,124,102.33,103.67,102
361,General Managers,NSW,119.22,118.19,125.86,119.65,118.03,118.27,111.01,117.94,...,173.67,179.33,177.33,171.67,168,177,164.33,151.67,157.33,169
362,Legislators,NSW,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
363,Aquaculture Farmers,NSW,0.67,0.67,0.33,0.33,0.33,1.33,1.33,1.33,...,0.33,0,0.33,0.33,0.33,0,0,0,0.33,0.33

In [16]:
len(jobvac01)

2872

In [17]:
jobvac01.OCCUPATIONS = jobvac01.OCCUPATIONS.str.title()

C:\Users\yiran\Anaconda2\lib\site-packages\pandas\core\generic.py:2999: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [19]:
jobvac01.head(5)

,OCCUPATIONS,STATES,2006-03-01 00:00:00,2006-04-01 00:00:00,2006-05-01 00:00:00,2006-06-01 00:00:00,2006-07-01 00:00:00,2006-08-01 00:00:00,2006-09-01 00:00:00,2006-10-01 00:00:00,...,2017-05-01 00:00:00,2017-06-01 00:00:00,2017-07-01 00:00:00,2017-08-01 00:00:00,2017-09-01 00:00:00,2017-10-01 00:00:00,2017-11-01 00:00:00,2017-12-01 00:00:00,2018-01-01 00:00:00,2018-02-01 00:00:00
359,New South Wales Total,NSW,73994.5,74222.8,77810.6,78304.1,82436.3,83820.7,83689.5,86543.5,...,65905,65181.7,68980.3,69072.3,70268,71815.7,69767.3,60684.7,60004.7,60797
360,Chief Executives And Managing Directors,NSW,57.31,56.76,59.21,67.35,75.43,83.17,76.43,74.78,...,120.33,126,137.67,126.33,127,121,124,102.33,103.67,102
361,General Managers,NSW,119.22,118.19,125.86,119.65,118.03,118.27,111.01,117.94,...,173.67,179.33,177.33,171.67,168,177,164.33,151.67,157.33,169
362,Legislators,NSW,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
363,Aquaculture Farmers,NSW,0.67,0.67,0.33,0.33,0.33,1.33,1.33,1.33,...,0.33,0,0.33,0.33,0.33,0,0,0,0.33,0.33

### Import ABS Final Occupation List

In [22]:
files = 'C:/Users/yiran/Google Drive/2018 S1/Cleaning Data/Material Data/ABS OCCUP LIST FINAL.xlsx'
sheet = pd.ExcelFile(files)
ABS_List = sheet.parse('Sheet1')

In [23]:
ABS_List.head(5)

                               OCCUPATIONS
0  Chief Executives And Managing Directors
1                         General Managers
2                              Legislators
3                             Crop Farmers
4                        Livestock Farmers

In [72]:
merged_jobvac01 = pd.merge(ABS_List, jobvac01, how = 'inner')

In [73]:
len(merged_jobvac01)

2792

In [74]:
len(jobvac01)

2872

In [75]:
len(ABS_List)

349

In [76]:
len(jobvac01.OCCUPATIONS.unique())

366

In [77]:
len(merged_jobvac01.OCCUPATIONS.unique())

349

In [78]:
2768/346

8

In [79]:
2872/366

7

In [80]:
orig_job = pd.DataFrame(jobvac01.OCCUPATIONS.unique())

In [81]:
len(orig_job)

366

In [82]:
orig_job.head(5)

                                         0
0                    New South Wales Total
1  Chief Executives And Managing Directors
2                         General Managers
3                              Legislators
4                      Aquaculture Farmers

In [83]:
orig_job = orig_job.rename(columns={0 : 'OCCUP'})

In [84]:
merged_job = pd.DataFrame(merged_jobvac01.OCCUPATIONS.unique())

In [85]:
len(merged_job)

349

In [86]:
merged_job.head(5)

                                         0
0  Chief Executives And Managing Directors
1                         General Managers
2                              Legislators
3                             Crop Farmers
4                        Livestock Farmers

In [87]:
merged_job = merged_job.rename(columns={0 : 'OCCUP'})

In [88]:
len(orig_job[~orig_job.OCCUP.isin(merged_job.OCCUP)])

17

In [89]:
orig_job[~orig_job.OCCUP.isin(merged_job.OCCUP)]

                                             OCCUP
0                            New South Wales Total
4                              Aquaculture Farmers
7                 Mixed Crop And Livestock Farmers
26   Senior Non-Commissioned Defence Force Members
166                                Floor Finishers
183                                       Shearers
193                Canvas And Leather Goods Makers
201                                      Jewellers
224            Defence Force Members - Other Ranks
339                            Aquaculture Workers
359                                 Victoria Total
360                               Queensland Total
361                          South Australia Total
362                        Western Australia Total
363                                 Tasmania Total
364                       Northern Territory Total
365             Australian Capital Territory Total

In [90]:
ABS_List.OCCUPATIONS[~ABS_List.OCCUPATIONS.isin(merged_job.OCCUP)]

Series([], Name: OCCUPATIONS, dtype: object)

In [91]:
orig_job.iloc[92]

OCCUP    Middle School Teachers
Name: 92, dtype: object

In [92]:
jobvac01[jobvac01.OCCUPATIONS == 'Vocational Education Teachers (Aus) / Polytechnic Teachers (Nz)']

Empty DataFrame
Columns: [OCCUPATIONS, STATES, 2006-03-01 00:00:00, 2006-04-01 00:00:00, 2006-05-01 00:00:00, 2006-06-01 00:00:00, 2006-07-01 00:00:00, 2006-08-01 00:00:00, 2006-09-01 00:00:00, 2006-10-01 00:00:00, 2006-11-01 00:00:00, 2006-12-01 00:00:00, 2007-01-01 00:00:00, 2007-02-01 00:00:00, 2007-03-01 00:00:00, 2007-04-01 00:00:00, 2007-05-01 00:00:00, 2007-06-01 00:00:00, 2007-07-01 00:00:00, 2007-08-01 00:00:00, 2007-09-01 00:00:00, 2007-10-01 00:00:00, 2007-11-01 00:00:00, 2007-12-01 00:00:00, 2008-01-01 00:00:00, 2008-02-01 00:00:00, 2008-03-01 00:00:00, 2008-04-01 00:00:00, 2008-05-01 00:00:00, 2008-06-01 00:00:00, 2008-07-01 00:00:00, 2008-08-01 00:00:00, 2008-09-01 00:00:00, 2008-10-01 00:00:00, 2008-11-01 00:00:00, 2008-12-01 00:00:00, 2009-01-01 00:00:00, 2009-02-01 00:00:00, 2009-03-01 00:00:00, 2009-04-01 00:00:00, 2009-05-01 00:00:00, 2009-06-01 00:00:00, 2009-07-01 00:00:00, 2009-08-01 00:00:00, 2009-09-01 00:00:00, 2009-10-01 00:00:00, 2009-11-01 00:00:00, 2009-12-01 00:00:00, 2010-01-01 00:00:00, 2010-02-01 00:00:00, 2010-03-01 00:00:00, 2010-04-01 00:00:00, 2010-05-01 00:00:00, 2010-06-01 00:00:00, 2010-07-01 00:00:00, 2010-08-01 00:00:00, 2010-09-01 00:00:00, 2010-10-01 00:00:00, 2010-11-01 00:00:00, 2010-12-01 00:00:00, 2011-01-01 00:00:00, 2011-02-01 00:00:00, 2011-03-01 00:00:00, 2011-04-01 00:00:00, 2011-05-01 00:00:00, 2011-06-01 00:00:00, 2011-07-01 00:00:00, 2011-08-01 00:00:00, 2011-09-01 00:00:00, 2011-10-01 00:00:00, 2011-11-01 00:00:00, 2011-12-01 00:00:00, 2012-01-01 00:00:00, 2012-02-01 00:00:00, 2012-03-01 00:00:00, 2012-04-01 00:00:00, 2012-05-01 00:00:00, 2012-06-01 00:00:00, 2012-07-01 00:00:00, 2012-08-01 00:00:00, 2012-09-01 00:00:00, 2012-10-01 00:00:00, 2012-11-01 00:00:00, 2012-12-01 00:00:00, 2013-01-01 00:00:00, 2013-02-01 00:00:00, 2013-03-01 00:00:00, 2013-04-01 00:00:00, 2013-05-01 00:00:00, 2013-06-01 00:00:00, 2013-07-01 00:00:00, 2013-08-01 00:00:00, 2013-09-01 00:00:00, 2013-10-01 00:00:00, 2013-11-01 00:00:00, 2013-12-01 00:00:00, 2014-01-01 00:00:00, 2014-02-01 00:00:00, 2014-03-01 00:00:00, 2014-04-01 00:00:00, ...]
Index: []

[0 rows x 146 columns]

In [69]:
jobvac01['OCCUPATIONS'] = jobvac01['OCCUPATIONS'].replace('Middle School Teachers (Aus) / Intermediate School Teachers (Nz)', 'Middle School Teachers')

C:\Users\yiran\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [70]:
jobvac01['OCCUPATIONS'] = jobvac01['OCCUPATIONS'].replace('Vocational Education Teachers (Aus) / Polytechnic Teachers (Nz)', 'Vocational Education Teachers')

C:\Users\yiran\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [71]:
jobvac01['OCCUPATIONS'] = jobvac01['OCCUPATIONS'].replace('Dietitians', 'Dieticians')

C:\Users\yiran\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

### Final List of Job Vacancy Data

In [94]:
merged_jobvac01

,OCCUPATIONS,STATES,2006-03-01 00:00:00,2006-04-01 00:00:00,2006-05-01 00:00:00,2006-06-01 00:00:00,2006-07-01 00:00:00,2006-08-01 00:00:00,2006-09-01 00:00:00,2006-10-01 00:00:00,...,2017-05-01 00:00:00,2017-06-01 00:00:00,2017-07-01 00:00:00,2017-08-01 00:00:00,2017-09-01 00:00:00,2017-10-01 00:00:00,2017-11-01 00:00:00,2017-12-01 00:00:00,2018-01-01 00:00:00,2018-02-01 00:00:00
0,Chief Executives And Managing Directors,NSW,57.31,56.76,59.21,67.35,75.43,83.17,76.43,74.78,...,120.33,126,137.67,126.33,127,121,124,102.33,103.67,102
1,Chief Executives And Managing Directors,VIC,32.75,30.52,32.45,38.45,36.11,36.57,34.23,38.75,...,75.33,75.33,77.33,79.33,82,88.33,93.33,81.33,84.33,74.67
2,Chief Executives And Managing Directors,QLD,39.24,39.6,45.7,48.77,44.7,37.31,31.91,44.58,...,47,50,52,46.67,55.33,65,70,52,47.67,40
3,Chief Executives And Managing Directors,SA,13.1,13.76,16.48,19.79,21.19,19.19,19.86,20.1,...,20,17.33,17.67,17.67,18.33,18,19,16.33,17,14.67
4,Chief Executives And Managing Directors,WA,6,8.43,10.84,14.24,13.86,14.45,11.43,13.41,...,24.33,25.33,25,26.67,28.33,27.33,26,21.33,25,27
5,Chief Executives And Managing Directors,TAS,1.69,2.69,5.02,4.67,3.67,1.67,1.67,2.67,...,4,4,4,5,5,4.67,6.33,5.67,5.67,4.33
6,Chief Executives And Managing Directors,NT,5.02,5.67,7.67,9.33,12.67,14,14,14.69,...,7.33,10,10.67,10.33,8,6,6,6.33,6.33,4.67
7,Chief Executives And Managing Directors,ACT,3.74,3.15,3.17,4.84,6.86,6.17,7.48,7.41,...,11,14,13.33,17.33,15.67,15,14.67,13.33,12.67,10.33
8,General Managers,NSW,119.22,118.19,125.86,119.65,118.03,118.27,111.01,117.94,...,173.67,179.33,177.33,171.67,168,177,164.33,151.67,157.33,169
9,General Managers,VIC,60.65,65.22,65.44,68.41,73.03,68.56,61.49,58.2,...,129.67,129.33,123.33,118,109.33,116,121.33,116,123,122.67
10,General Managers,QLD,66.89,65.87,67.75,60.84,53.72,55.17,68.34,77.42,...,93.67,85,89.67,83,82,84,85,77.33,77.67,80.33
11,General Managers,SA,30.24,27.22,26.55,25.15,26.5,22.5,22.19,24.91,...,32,27.67,26,20.67,19.67,21,21.33,21,22.67,25
12,General Managers,WA,19.1,22.13,21.44,20.6,18.55,20.58,19.34,23.13,...,41.67,35.33,34,32,35,40.67,39.33,38.67,38,39.67
13,General Managers,TAS,5,4,5.33,6,5.33,4.33,3.33,3.67,...,6,4.67,4.67,3.67,6.33,8,9.67,7.33,7,5.67
14,General Managers,NT,2.67,2,0.67,1.67,1.67,2.33,2.02,5.02,...,6.33,8,8,6.67,6.33,7,7,6,6.33,8
15,General Managers,ACT,5.12,3.79,6.91,8.98,10.72,8.98,5.93,7.29,...,11.33,12,12,12,8,8,7.67,11,15.67,18.67
16,Legislators,NSW,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
17,Legislators,VIC,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
18,Legislators,QLD,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
19,Legislators,SA,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
20,Legislators,WA,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
21,Legislators,TAS,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
22,Legislators,NT,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
23,Legislators,ACT,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
24,Crop Farmers,NSW,3.33,2.67,3.69,3.02,4.36,2.67,2.33,1.67,...,2.33,3,3,3.33,2.33,2.33,3.33,4,4.33,3
25,Crop Farmers,VIC,4.05,4.43,5.76,4.76,4.41,4.74,5.36,5.33,...,3.67,2.67,3,3.67,3.67,4,3,3.33,2.67,2.67
26,Crop Farmers,QLD,12.33,20,19.67,10.67,2.67,2.33,2,3,...,0.33,1,1.33,1,0.67,0.67,0.67,1.33,2,2
27,Crop Farmers,SA,3.67,4.33,1.69,2.38,2.07,4.38,3.69,3.67,...,2,2.67,4.67,6.67,6.67,5,3,2.33,2.67,2.33
28,Crop Farmers,WA,1.69,1.72,1.69,1.36,1.67,1.33,1.67,2.69,...,0,0,0.33,0.33,0.33,0,0.33,0.33,0.67,0.67
29,Crop Farmers,TAS,0.67,0,0.33,0.67,0.67,0.67,0.33,0.33,...,0,0.33,0.33,1,1,1,0.67,0.33,0.33,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2762,Printing Assistants And Table Workers,QLD,51.1,53.45,53.45,55.79,52.1,48.74,53.12,57.84,...,14.67,14.33,16.33,18.33,17.33,15.67,13.67,14,14,13.33
2763,Printing Assistants And Table Workers,SA,23.69,23.72,21.74,20.07,18.05,16.38,21.74,23.1,...,3.33,3,5,6,5.67,5,4,3.33,4,3.67
2764,Printing Assistants And Table Workers,WA,9.69,13.36,14.72,10.74,10.72,12.05,12.36,14.36,...,5,3.67,4,4,5.67,6,6.67,5,5,4.33
2765,Printing Assistants And Table Workers,TAS,1.69,2,2,1.67,2.36,2.69,3.36,3.33,...,0.33,0,0.67,0.67,0.67,0.33,0.33,0.67,0.33,0.33
2766,Printing Assistants And Table Workers,NT,1,1,1.33,0.67,1,0.67,1,1,...,0,0,0,0,0.67,1,1,0.33,0,0
2767,Printing Assistants And Table Workers,ACT,1.07,0.69,1.36,2.67,3,3.67,3,3,...,0.33,0.67,0.67,0.33,0,0.33,0.33,0.67,0.67,1.33
2768,Recycling And Rubbish Collectors,NSW,5.02,6.36,5.74,5.12,3.76,3.07,4.02,4.38,...,4,4.33,3.67,3,3,3,3,3,5,5.67
2769,Recycling And Rubbish Collectors,VIC,6.67,5.72,4.74,3.76,3.38,3.02,4.69,5.02,...,2.33,2.33,2.67,2.67,3.33,2.33,3.33,2.33,3,1.33
2770,Recycling And Rubbish Collectors,QLD,0.33,1.02,2.05,2.43,2.76,2.43,3.43,3.07,...,1,2,1.67,1.67,1.33,2.67,3.33,2.67,1.33,1
2771,Recycling And Rubbish Collectors,SA,2,1.67,2.33,1.33,0.67,0.67,0.67,1,...,0.33,0.33,0.33,0,0.33,0.33,0.33,0.33,0.33,0.33
2772,Recycling And Rubbish Collectors,WA,1.33,2.36,1.72,1.74,0.72,0.02,0,0.33,...,0.67,0.67,0.67,1.67,1.67,2.33,2,2,1.33,1
2773,Recycling And Rubbish Collectors,TAS,6.33,4,4.67,4.33,2.67,2,1.33,2.67,...,0,0,0.33,0.33,0.67,0.67,0.67,0.33,0,0
2774,Recycling And Rubbish Collectors,NT,0.33,0.33,0.33,0,0,0.33,0.33,0.33,...,0,0,0,0,0,0.33,0.33,0.33,0,0
2775,Recycling And Rubbish Collectors,ACT,0.33,0.33,0.33,0,0.33,0.67,1,0.67,...,0,0,0,0,0.33,0.33,0.33,0,0,0
2776,Vending Machine Attendants,NSW,2,2,1.67,0.67,1,1,1.33,1.67,...,2,1,0.67,1,1.67,1.67,1.33,0.67,0.33,0.67
2777,Vending Machine Attendants,VIC,1.36,1.02,1.02,2,2.67,3,1.67,1,...,1.33,0.67,0.67,0.67,1,1.33,1,0.67,0.67,1
2778,Vending Machine Attendants,QLD,1.33,1.33,1.67,2,2.67,3,3.33,4,...,0.33,0.33,0.33,0.33,0.33,2,1.67,1.67,0,0.33
2779,Vending Machine Attendants,SA,1.41,1.07,1.05,0.69,0.33,0.67,0.67,0.67,...,0,0,0,0,0,0,0,0,0,0
2780,Vending Machine Attendants,WA,0,0,0,0,0,0,0,0.67,...,0,0,0,0,0,0,0,0,0,0
2781,Vending Machine Attendants,TAS,0.67,0.33,0.33,0,0,0.33,0.33,0.33,...,0,0,0,0,0,0,0,0,0,0
2782,Vending Machine Attendants,NT,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2783,Vending Machine Attendants,ACT,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2784,Other Miscellaneous Labourers,NSW,3166.2,3073.03,3089.56,2836.79,2922.75,3046.12,3306.82,3635.22,...,1380.33,1391.33,1478,1454.67,1434.33,1487.67,1442,1234.33,1133.67,1117.33
2785,Other Miscellaneous Labourers,VIC,2529.43,2524.55,2529.71,2305.08,2347.5,2434.1,2699.27,2986.66,...,892.67,843,903.33,881.67,892.67,947.67,922.67,804.67,768.67,787.67
2786,Other Miscellaneous Labourers,QLD,3433.34,3354.29,3454.22,3331.7,3293.3,3467.16,3648.19,4253.4,...,977.33,1017.33,1044.67,1074,1104.67,1178.33,1142.67,986.67,936.67,929.33
2787,Other Miscellaneous Labourers,SA,997.44,963.67,942.31,850.88,888.01,932.05,1005.82,1058.82,...,337,308.33,287.67,258.67,250,266.33,266.33,229.67,215.33,208
2788,Other Miscellaneous Labourers,WA,1270.17,1238.78,1254.78,1142.23,1155.12,1131.52,1179.26,1295.03,...,278.67,279.33,304,301.33,307,328.33,351.33,324.67,304.33,287.33
2789,Other Miscellaneous Labourers,TAS,441.05,426.43,409.12,334.1,307.07,315.74,324.79,389.12,...,53.33,52.67,44.67,38.67,33,34.67,38.33,31.33,32.33,30.33
2790,Other Miscellaneous Labourers,NT,182.72,189.69,214.72,241.43,249.45,252.81,231.41,254.74,...,39,31.67,35.67,42.33,53.67,49.33,50.67,40.67,41.67,30
2791,Other Miscellaneous Labourers,ACT,75.41,76.79,76.48,61.48,63.48,66.17,88.6,95.19,...,65.33,74.67,75.33,83.67,88,102.33,99.67,88.67,89,93.33

In [95]:
jobvac02 = merged_jobvac01.copy()

In [96]:
jobvac02

,OCCUPATIONS,STATES,2006-03-01 00:00:00,2006-04-01 00:00:00,2006-05-01 00:00:00,2006-06-01 00:00:00,2006-07-01 00:00:00,2006-08-01 00:00:00,2006-09-01 00:00:00,2006-10-01 00:00:00,...,2017-05-01 00:00:00,2017-06-01 00:00:00,2017-07-01 00:00:00,2017-08-01 00:00:00,2017-09-01 00:00:00,2017-10-01 00:00:00,2017-11-01 00:00:00,2017-12-01 00:00:00,2018-01-01 00:00:00,2018-02-01 00:00:00
0,Chief Executives And Managing Directors,NSW,57.31,56.76,59.21,67.35,75.43,83.17,76.43,74.78,...,120.33,126,137.67,126.33,127,121,124,102.33,103.67,102
1,Chief Executives And Managing Directors,VIC,32.75,30.52,32.45,38.45,36.11,36.57,34.23,38.75,...,75.33,75.33,77.33,79.33,82,88.33,93.33,81.33,84.33,74.67
2,Chief Executives And Managing Directors,QLD,39.24,39.6,45.7,48.77,44.7,37.31,31.91,44.58,...,47,50,52,46.67,55.33,65,70,52,47.67,40
3,Chief Executives And Managing Directors,SA,13.1,13.76,16.48,19.79,21.19,19.19,19.86,20.1,...,20,17.33,17.67,17.67,18.33,18,19,16.33,17,14.67
4,Chief Executives And Managing Directors,WA,6,8.43,10.84,14.24,13.86,14.45,11.43,13.41,...,24.33,25.33,25,26.67,28.33,27.33,26,21.33,25,27
5,Chief Executives And Managing Directors,TAS,1.69,2.69,5.02,4.67,3.67,1.67,1.67,2.67,...,4,4,4,5,5,4.67,6.33,5.67,5.67,4.33
6,Chief Executives And Managing Directors,NT,5.02,5.67,7.67,9.33,12.67,14,14,14.69,...,7.33,10,10.67,10.33,8,6,6,6.33,6.33,4.67
7,Chief Executives And Managing Directors,ACT,3.74,3.15,3.17,4.84,6.86,6.17,7.48,7.41,...,11,14,13.33,17.33,15.67,15,14.67,13.33,12.67,10.33
8,General Managers,NSW,119.22,118.19,125.86,119.65,118.03,118.27,111.01,117.94,...,173.67,179.33,177.33,171.67,168,177,164.33,151.67,157.33,169
9,General Managers,VIC,60.65,65.22,65.44,68.41,73.03,68.56,61.49,58.2,...,129.67,129.33,123.33,118,109.33,116,121.33,116,123,122.67
10,General Managers,QLD,66.89,65.87,67.75,60.84,53.72,55.17,68.34,77.42,...,93.67,85,89.67,83,82,84,85,77.33,77.67,80.33
11,General Managers,SA,30.24,27.22,26.55,25.15,26.5,22.5,22.19,24.91,...,32,27.67,26,20.67,19.67,21,21.33,21,22.67,25
12,General Managers,WA,19.1,22.13,21.44,20.6,18.55,20.58,19.34,23.13,...,41.67,35.33,34,32,35,40.67,39.33,38.67,38,39.67
13,General Managers,TAS,5,4,5.33,6,5.33,4.33,3.33,3.67,...,6,4.67,4.67,3.67,6.33,8,9.67,7.33,7,5.67
14,General Managers,NT,2.67,2,0.67,1.67,1.67,2.33,2.02,5.02,...,6.33,8,8,6.67,6.33,7,7,6,6.33,8
15,General Managers,ACT,5.12,3.79,6.91,8.98,10.72,8.98,5.93,7.29,...,11.33,12,12,12,8,8,7.67,11,15.67,18.67
16,Legislators,NSW,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
17,Legislators,VIC,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
18,Legislators,QLD,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
19,Legislators,SA,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
20,Legislators,WA,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
21,Legislators,TAS,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
22,Legislators,NT,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
23,Legislators,ACT,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
24,Crop Farmers,NSW,3.33,2.67,3.69,3.02,4.36,2.67,2.33,1.67,...,2.33,3,3,3.33,2.33,2.33,3.33,4,4.33,3
25,Crop Farmers,VIC,4.05,4.43,5.76,4.76,4.41,4.74,5.36,5.33,...,3.67,2.67,3,3.67,3.67,4,3,3.33,2.67,2.67
26,Crop Farmers,QLD,12.33,20,19.67,10.67,2.67,2.33,2,3,...,0.33,1,1.33,1,0.67,0.67,0.67,1.33,2,2
27,Crop Farmers,SA,3.67,4.33,1.69,2.38,2.07,4.38,3.69,3.67,...,2,2.67,4.67,6.67,6.67,5,3,2.33,2.67,2.33
28,Crop Farmers,WA,1.69,1.72,1.69,1.36,1.67,1.33,1.67,2.69,...,0,0,0.33,0.33,0.33,0,0.33,0.33,0.67,0.67
29,Crop Farmers,TAS,0.67,0,0.33,0.67,0.67,0.67,0.33,0.33,...,0,0.33,0.33,1,1,1,0.67,0.33,0.33,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2762,Printing Assistants And Table Workers,QLD,51.1,53.45,53.45,55.79,52.1,48.74,53.12,57.84,...,14.67,14.33,16.33,18.33,17.33,15.67,13.67,14,14,13.33
2763,Printing Assistants And Table Workers,SA,23.69,23.72,21.74,20.07,18.05,16.38,21.74,23.1,...,3.33,3,5,6,5.67,5,4,3.33,4,3.67
2764,Printing Assistants And Table Workers,WA,9.69,13.36,14.72,10.74,10.72,12.05,12.36,14.36,...,5,3.67,4,4,5.67,6,6.67,5,5,4.33
2765,Printing Assistants And Table Workers,TAS,1.69,2,2,1.67,2.36,2.69,3.36,3.33,...,0.33,0,0.67,0.67,0.67,0.33,0.33,0.67,0.33,0.33
2766,Printing Assistants And Table Workers,NT,1,1,1.33,0.67,1,0.67,1,1,...,0,0,0,0,0.67,1,1,0.33,0,0
2767,Printing Assistants And Table Workers,ACT,1.07,0.69,1.36,2.67,3,3.67,3,3,...,0.33,0.67,0.67,0.33,0,0.33,0.33,0.67,0.67,1.33
2768,Recycling And Rubbish Collectors,NSW,5.02,6.36,5.74,5.12,3.76,3.07,4.02,4.38,...,4,4.33,3.67,3,3,3,3,3,5,5.67
2769,Recycling And Rubbish Collectors,VIC,6.67,5.72,4.74,3.76,3.38,3.02,4.69,5.02,...,2.33,2.33,2.67,2.67,3.33,2.33,3.33,2.33,3,1.33
2770,Recycling And Rubbish Collectors,QLD,0.33,1.02,2.05,2.43,2.76,2.43,3.43,3.07,...,1,2,1.67,1.67,1.33,2.67,3.33,2.67,1.33,1
2771,Recycling And Rubbish Collectors,SA,2,1.67,2.33,1.33,0.67,0.67,0.67,1,...,0.33,0.33,0.33,0,0.33,0.33,0.33,0.33,0.33,0.33
2772,Recycling And Rubbish Collectors,WA,1.33,2.36,1.72,1.74,0.72,0.02,0,0.33,...,0.67,0.67,0.67,1.67,1.67,2.33,2,2,1.33,1
2773,Recycling And Rubbish Collectors,TAS,6.33,4,4.67,4.33,2.67,2,1.33,2.67,...,0,0,0.33,0.33,0.67,0.67,0.67,0.33,0,0
2774,Recycling And Rubbish Collectors,NT,0.33,0.33,0.33,0,0,0.33,0.33,0.33,...,0,0,0,0,0,0.33,0.33,0.33,0,0
2775,Recycling And Rubbish Collectors,ACT,0.33,0.33,0.33,0,0.33,0.67,1,0.67,...,0,0,0,0,0.33,0.33,0.33,0,0,0
2776,Vending Machine Attendants,NSW,2,2,1.67,0.67,1,1,1.33,1.67,...,2,1,0.67,1,1.67,1.67,1.33,0.67,0.33,0.67
2777,Vending Machine Attendants,VIC,1.36,1.02,1.02,2,2.67,3,1.67,1,...,1.33,0.67,0.67,0.67,1,1.33,1,0.67,0.67,1
2778,Vending Machine Attendants,QLD,1.33,1.33,1.67,2,2.67,3,3.33,4,...,0.33,0.33,0.33,0.33,0.33,2,1.67,1.67,0,0.33
2779,Vending Machine Attendants,SA,1.41,1.07,1.05,0.69,0.33,0.67,0.67,0.67,...,0,0,0,0,0,0,0,0,0,0
2780,Vending Machine Attendants,WA,0,0,0,0,0,0,0,0.67,...,0,0,0,0,0,0,0,0,0,0
2781,Vending Machine Attendants,TAS,0.67,0.33,0.33,0,0,0.33,0.33,0.33,...,0,0,0,0,0,0,0,0,0,0
2782,Vending Machine Attendants,NT,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2783,Vending Machine Attendants,ACT,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2784,Other Miscellaneous Labourers,NSW,3166.2,3073.03,3089.56,2836.79,2922.75,3046.12,3306.82,3635.22,...,1380.33,1391.33,1478,1454.67,1434.33,1487.67,1442,1234.33,1133.67,1117.33
2785,Other Miscellaneous Labourers,VIC,2529.43,2524.55,2529.71,2305.08,2347.5,2434.1,2699.27,2986.66,...,892.67,843,903.33,881.67,892.67,947.67,922.67,804.67,768.67,787.67
2786,Other Miscellaneous Labourers,QLD,3433.34,3354.29,3454.22,3331.7,3293.3,3467.16,3648.19,4253.4,...,977.33,1017.33,1044.67,1074,1104.67,1178.33,1142.67,986.67,936.67,929.33
2787,Other Miscellaneous Labourers,SA,997.44,963.67,942.31,850.88,888.01,932.05,1005.82,1058.82,...,337,308.33,287.67,258.67,250,266.33,266.33,229.67,215.33,208
2788,Other Miscellaneous Labourers,WA,1270.17,1238.78,1254.78,1142.23,1155.12,1131.52,1179.26,1295.03,...,278.67,279.33,304,301.33,307,328.33,351.33,324.67,304.33,287.33
2789,Other Miscellaneous Labourers,TAS,441.05,426.43,409.12,334.1,307.07,315.74,324.79,389.12,...,53.33,52.67,44.67,38.67,33,34.67,38.33,31.33,32.33,30.33
2790,Other Miscellaneous Labourers,NT,182.72,189.69,214.72,241.43,249.45,252.81,231.41,254.74,...,39,31.67,35.67,42.33,53.67,49.33,50.67,40.67,41.67,30
2791,Other Miscellaneous Labourers,ACT,75.41,76.79,76.48,61.48,63.48,66.17,88.6,95.19,...,65.33,74.67,75.33,83.67,88,102.33,99.67,88.67,89,93.33

### Reshape 1

In [98]:
index =['OCCUPATIONS','STATES']

In [99]:
multi_indexed_job = jobvac02.set_index(index)

In [101]:
multi_indexed_job.head(10)

                                               2006-03-01 2006-04-01  \
OCCUPATIONS                             STATES
Chief Executives And Managing Directors NSW         57.31      56.76
                                        VIC         32.75      30.52
                                        QLD         39.24       39.6
                                        SA           13.1      13.76
                                        WA              6       8.43
                                        TAS          1.69       2.69
                                        NT           5.02       5.67
                                        ACT          3.74       3.15
General Managers                        NSW        119.22     118.19
                                        VIC         60.65      65.22

                                               2006-05-01 2006-06-01  \
OCCUPATIONS                             STATES
Chief Executives And Managing Directors NSW         59.21      67.35
                                        VIC         32.45      38.45
                                        QLD          45.7      48.77
                                        SA          16.48      19.79
                                        WA          10.84      14.24
                                        TAS          5.02       4.67
                                        NT           7.67       9.33
                                        ACT          3.17       4.84
General Managers                        NSW        125.86     119.65
                                        VIC         65.44      68.41

                                               2006-07-01 2006-08-01  \
OCCUPATIONS                             STATES
Chief Executives And Managing Directors NSW         75.43      83.17
                                        VIC         36.11      36.57
                                        QLD          44.7      37.31
                                        SA          21.19      19.19
                                        WA          13.86      14.45
                                        TAS          3.67       1.67
                                        NT          12.67         14
                                        ACT          6.86       6.17
General Managers                        NSW        118.03     118.27
                                        VIC         73.03      68.56

                                               2006-09-01 2006-10-01  \
OCCUPATIONS                             STATES
Chief Executives And Managing Directors NSW         76.43      74.78
                                        VIC         34.23      38.75
                                        QLD         31.91      44.58
                                        SA          19.86       20.1
                                        WA          11.43      13.41
                                        TAS          1.67       2.67
                                        NT             14      14.69
                                        ACT          7.48       7.41
General Managers                        NSW        111.01     117.94
                                        VIC         61.49       58.2

                                               2006-11-01 2006-12-01  \
OCCUPATIONS                             STATES
Chief Executives And Managing Directors NSW         68.09      58.52
                                        VIC          38.3      34.54
                                        QLD         53.39      50.15
                                        SA          20.07      14.72
                                        WA          14.45      13.41
                                        TAS          2.33       3.67
                                        NT          10.72      12.07
                                        ACT          9.38       6.41
General Managers                        NSW        111.74     101.28
                                        VIC         63.22       63.5

                                                  ...     2017-05-01  \
OCCUPATIONS                             STATES    ...
Chief Executives And Managing Directors NSW       ...         120.33
                                        VIC       ...          75.33
                                        QLD       ...             47
                                        SA        ...             20
                                        WA        ...          24.33
                                        TAS       ...              4
                                        NT        ...           7.33
                                        ACT       ...             11
General Managers                        NSW       ...         173.67
                                        VIC       ...         129.67

                                               2017-06-01 2017-07-01  \
OCCUPATIONS                             STATES
Chief Executives And Managing Directors NSW           126     137.67
                                        VIC         75.33      77.33
                                        QLD            50         52
                                        SA          17.33      17.67
                                        WA          25.33         25
                                        TAS             4          4
                                        NT             10      10.67
                                        ACT            14      13.33
General Managers                        NSW        179.33     177.33
                                        VIC        129.33     123.33

                                               2017-08-01 2017-09-01  \
OCCUPATIONS                             STATES
Chief Executives And Managing Directors NSW        126.33        127
                                        VIC         79.33         82
                                        QLD         46.67      55.33
                                        SA          17.67      18.33
                                        WA          26.67      28.33
                                        TAS             5          5
                                        NT          10.33          8
                                        ACT         17.33      15.67
General Managers                        NSW        171.67        168
                                        VIC           118     109.33

                                               2017-10-01 2017-11-01  \
OCCUPATIONS                             STATES
Chief Executives And Managing Directors NSW           121        124
                                        VIC         88.33      93.33
                                        QLD            65         70
                                        SA             18         19
                                        WA          27.33         26
                                        TAS          4.67       6.33
                                        NT              6          6
                                        ACT            15      14.67
General Managers                        NSW           177     164.33
                                        VIC           116     121.33

                                               2017-12-01 2018-01-01  \
OCCUPATIONS                             STATES
Chief Executives And Managing Directors NSW        102.33     103.67
                                        VIC         81.33      84.33
                                        QLD            52      47.67
                                        SA          16.33         17
                                        WA          21.33         25
                                        TAS          5.67       5.67
                                        NT           6.33       6.33
                                        ACT         13.33      12.67
General Managers                        NSW        151.67     157.33
                                        VIC           116        123

                                               2018-02-01
OCCUPATIONS                             STATES
Chief Executives And Managing Directors NSW           102
                                        VIC         74.67
                                        QLD            40
                                        SA          14.67
                                        WA             27
                                        TAS          4.33
                                        NT           4.67
                                        ACT         10.33
General Managers                        NSW           169
                                        VIC        122.67

[10 rows x 144 columns]

In [102]:
stacked_df1 = multi_indexed_job.stack(dropna=False)

In [103]:
stacked_df1.head(5)

OCCUPATIONS                              STATES
Chief Executives And Managing Directors  NSW     2006-03-01 00:00:00    57.31
                                                 2006-04-01 00:00:00    56.76
                                                 2006-05-01 00:00:00    59.21
                                                 2006-06-01 00:00:00    67.35
                                                 2006-07-01 00:00:00    75.43
dtype: object

In [104]:
stacked_df1 = stacked_df1.reset_index()

In [105]:
stacked_df1.head(5)

                               OCCUPATIONS STATES    level_2      0
0  Chief Executives And Managing Directors    NSW 2006-03-01  57.31
1  Chief Executives And Managing Directors    NSW 2006-04-01  56.76
2  Chief Executives And Managing Directors    NSW 2006-05-01  59.21
3  Chief Executives And Managing Directors    NSW 2006-06-01  67.35
4  Chief Executives And Managing Directors    NSW 2006-07-01  75.43

In [106]:
stacked_df1 = stacked_df1.rename(columns={'level_2' : 'Date', 0:'Vacancy'})

In [107]:
stacked_df1.head(5)

                               OCCUPATIONS STATES       Date Vacancy
0  Chief Executives And Managing Directors    NSW 2006-03-01   57.31
1  Chief Executives And Managing Directors    NSW 2006-04-01   56.76
2  Chief Executives And Managing Directors    NSW 2006-05-01   59.21
3  Chief Executives And Managing Directors    NSW 2006-06-01   67.35
4  Chief Executives And Managing Directors    NSW 2006-07-01   75.43

In [108]:
writer = pd.ExcelWriter('C:/Users/yiran/Google Drive/2018 S1/Cleaning Data/Material Data/VACANCY NEW 01.xlsx')
stacked_df1.to_excel(writer,sheet_name = 'Sheet1', index = False)
writer.save()

### Check Lenth and Null Value

In [109]:
jobvac03 = stacked_df1.copy()

In [110]:
len(jobvac03)

402048

In [111]:
len(jobvac03.dropna(axis = 0, how = 'any'))

402048

In [116]:
jobvac_clean = jobvac03[jobvac03.Vacancy!="."]

In [117]:
jobvac_clean[jobvac_clean.Vacancy=="."]

Empty DataFrame
Columns: [OCCUPATIONS, STATES, Date, Vacancy]
Index: []

In [118]:
jobvac_clean

                                    OCCUPATIONS STATES       Date Vacancy
0       Chief Executives And Managing Directors    NSW 2006-03-01   57.31
1       Chief Executives And Managing Directors    NSW 2006-04-01   56.76
2       Chief Executives And Managing Directors    NSW 2006-05-01   59.21
3       Chief Executives And Managing Directors    NSW 2006-06-01   67.35
4       Chief Executives And Managing Directors    NSW 2006-07-01   75.43
5       Chief Executives And Managing Directors    NSW 2006-08-01   83.17
6       Chief Executives And Managing Directors    NSW 2006-09-01   76.43
7       Chief Executives And Managing Directors    NSW 2006-10-01   74.78
8       Chief Executives And Managing Directors    NSW 2006-11-01   68.09
9       Chief Executives And Managing Directors    NSW 2006-12-01   58.52
10      Chief Executives And Managing Directors    NSW 2007-01-01   60.24
11      Chief Executives And Managing Directors    NSW 2007-02-01   61.31
12      Chief Executives And Managing Directors    NSW 2007-03-01   74.11
13      Chief Executives And Managing Directors    NSW 2007-04-01   71.63
14      Chief Executives And Managing Directors    NSW 2007-05-01   80.38
15      Chief Executives And Managing Directors    NSW 2007-06-01   83.74
16      Chief Executives And Managing Directors    NSW 2007-07-01   94.41
17      Chief Executives And Managing Directors    NSW 2007-08-01   93.93
18      Chief Executives And Managing Directors    NSW 2007-09-01   92.15
19      Chief Executives And Managing Directors    NSW 2007-10-01   89.38
20      Chief Executives And Managing Directors    NSW 2007-11-01   82.64
21      Chief Executives And Managing Directors    NSW 2007-12-01    76.9
22      Chief Executives And Managing Directors    NSW 2008-01-01   72.55
23      Chief Executives And Managing Directors    NSW 2008-02-01   87.75
24      Chief Executives And Managing Directors    NSW 2008-03-01  102.11
25      Chief Executives And Managing Directors    NSW 2008-04-01  108.07
26      Chief Executives And Managing Directors    NSW 2008-05-01  105.76
27      Chief Executives And Managing Directors    NSW 2008-06-01  111.25
28      Chief Executives And Managing Directors    NSW 2008-07-01  121.46
29      Chief Executives And Managing Directors    NSW 2008-08-01   119.1
...                                         ...    ...        ...     ...
402018            Other Miscellaneous Labourers    ACT 2015-09-01   39.33
402019            Other Miscellaneous Labourers    ACT 2015-10-01   48.33
402020            Other Miscellaneous Labourers    ACT 2015-11-01   55.67
402021            Other Miscellaneous Labourers    ACT 2015-12-01   54.67
402022            Other Miscellaneous Labourers    ACT 2016-01-01   52.33
402023            Other Miscellaneous Labourers    ACT 2016-02-01   50.33
402024            Other Miscellaneous Labourers    ACT 2016-03-01   59.33
402025            Other Miscellaneous Labourers    ACT 2016-04-01   53.67
402026            Other Miscellaneous Labourers    ACT 2016-05-01   57.67
402027            Other Miscellaneous Labourers    ACT 2016-06-01   59.33
402028            Other Miscellaneous Labourers    ACT 2016-07-01      70
402029            Other Miscellaneous Labourers    ACT 2016-08-01   76.33
402030            Other Miscellaneous Labourers    ACT 2016-09-01   84.33
402031            Other Miscellaneous Labourers    ACT 2016-10-01   86.67
402032            Other Miscellaneous Labourers    ACT 2016-11-01   85.67
402033            Other Miscellaneous Labourers    ACT 2016-12-01   70.67
402034            Other Miscellaneous Labourers    ACT 2017-01-01   68.33
402035            Other Miscellaneous Labourers    ACT 2017-02-01   69.33
402036            Other Miscellaneous Labourers    ACT 2017-03-01   71.67
402037            Other Miscellaneous Labourers    ACT 2017-04-01      68
402038            Other Miscellaneous Labourers    ACT 2017-05-01   65.33
402039            Other Miscellaneous Labourers    ACT 2017-06-01   74.67
402040            Other Miscellaneous Labourers    ACT 2017-07-01   75.33
402041            Other Miscellaneous Labourers    ACT 2017-08-01   83.67
402042            Other Miscellaneous Labourers    ACT 2017-09-01      88
402043            Other Miscellaneous Labourers    ACT 2017-10-01  102.33
402044            Other Miscellaneous Labourers    ACT 2017-11-01   99.67
402045            Other Miscellaneous Labourers    ACT 2017-12-01   88.67
402046            Other Miscellaneous Labourers    ACT 2018-01-01      89
402047            Other Miscellaneous Labourers    ACT 2018-02-01   93.33

[396288 rows x 4 columns]

In [123]:
len(jobvac_clean)

396288

In [119]:
writer = pd.ExcelWriter('C:/Users/yiran/Google Drive/2018 S1/Cleaning Data/Material Data/VACANCY NEW 02.xlsx')
jobvac_clean.to_excel(writer,sheet_name = 'Sheet1', index = False)
writer.save()

In [122]:
jobvac_clean.to_csv("C:/Users/yiran/Google Drive/2018 S1/Cleaning Data/Material Data/VACANCY NEW 03.csv", index = False)